body{
    display: flex;
    flex-direction: column;
    
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header{
    display: flex;
    flex-direction: column;
    background-color:#1F2937 ;
}

.upper-container{
    display: flex;
}

.middle-container{
    display: flex;
}

.lower.container{
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
}

.logo-and-links{
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
   

}

.links{
    list-style: none;
    margin-left: auto;
    display: flex;
    gap: 25px;
}

.text-and-picture{
    display: flex;
}



.text-container{
    display: flex;
    flex-direction: column;
}
