body{
    display: flex;
    flex-direction: column;
    flex: 1; /*/
    
}

a{
    text-decoration: none;
    color: #E5E7EB;             /*links*/
    font-size: 18px;
}

button{
    background-color: #3882f6;
    border-radius: 8px;
    border:solid 2px#F9FAF8;
    color: #F9FAF8;
    min-width: 125px;
    min-height: 40px;
    font-size: 18px;
}

/*HEADER Portion START*/

.header{
    display: flex;
    flex-direction: column;
    background-color:#1F2937 ;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 60px;
    
}
.logo-and-links >p{
    flex-shrink: 0;
}

.logo-and-links{
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
}

.links{
    list-style: none;
    margin-left: auto;
    display: flex;
    gap: 25px;
}

.text-and-picture{
    display: flex;

}
.text-and-picture > img{
    margin-left: auto;
    border: solid 3px #F9FAF8;;
    border-radius: 8px;
}

.text-and-picture .biggerText{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    padding-right: 20px;
}
.text-and-picture .smallerText{
    color: #E5E7EB;
    font-size: 18px;
    padding-right: 20px;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text-container >button{
    align-self: flex-start;
    
}

/*HEADER Portion END*/


/*UPPER PART(AFTER HEADER) portion START*/
.upper-container > p{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.upper-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mountain-icons{
    display: flex;
}

.mountain-icons > div > img{
    border: solid 3px #3882f6;
    border-radius: 8px;
}
/*UPPER PART(AFTER HEADER) portion END*/


.middle-container{
    display: flex;
}

.lower.container{
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
}



